<div class="card">
    <div class="card-header bg-transparent">
        <a class="pointer right readUnreadButton"><i class="icon-eye" style="font-size:15px;"></i> Lu/Non lu</a>
        {% if event.getFavorite != 1 %}
            <a class="right pointer favorite"  onclick="addFavorite(this,{{ event.id }});">Ajouter aux favoris</a>
        {% else %}
            <a class="right pointer favorite" onclick="removeFavorite(this,{{ event.id }});">Supprimer des favoris</a>
        {% endif %}
    </div>
    <div class="card-body">
        <h5 class="card-title">Success card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <div class="card-footer">
        <a class="pointer right readUnreadButton"><i class="icon-eye" style="font-size:15px;"></i> Lu/Non lu</a>
        {% if event.getFavorite != 1 %}
            <a class="right pointer favorite"  onclick="addFavorite(this,{{ event.id }});">Ajouter aux favoris</a>
        {% else %}
            <a class="right pointer favorite" onclick="removeFavorite(this,{{ event.id }});">Supprimer des favoris</a>
        {% endif %}
    </div>
</div>