{% extends '_base_layout_installation.html.twig' %}

{% block body %}
    Bienvenue blablabla
    On va commencer l'installation toussa toussa
    Cliquez <a href="/install/general">ici</a>
{% endblock body %}