
    </div> <!-- #main-container -->

</div>

    <footer></footer>

<script src="/templates/influx/js/libs/jqueryAndModernizr.min.js"></script>
<script src="/templates/influx/js/script.js"></script>

</body>
</html>
